<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.zmeggyesi.divemonitor">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>
    <uses-permission android:name="android.permission.READ_DIVES"/>
    <uses-permission android:name="android.permission.READ_ENVIRONMENT"/>

    <application
        android:name=".mobile.model.GlobalContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".mobile.ui.activity.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".mobile.ui.activity.Monitoring"/>
        <activity android:name=".mobile.ui.activity.PreDive"/>
        <activity android:name=".mobile.ui.activity.DiveInProgress"/>
        <activity android:name=".mobile.ui.activity.DatabaseManipulation"/>
        <activity android:name=".mobile.ui.activity.DiveList" />

        <provider
            android:name=".mobile.service.provider.DiveProvider"
            android:authorities="com.example.zmeggyesi.divemonitor.provider.dives"
            android:exported="false"
            android:readPermission="@string/permission_read_dives"
            android:writePermission="@string/permission_write_dives"/>
        <provider
            android:name=".mobile.service.provider.EnvironmentReadingsProvider"
            android:authorities="com.example.zmeggyesi.divemonitor.provider.environmentreadings"
            android:exported="false"
            android:readPermission="@string/permission_read_environmentreadings"
            android:writePermission="@string/permission_write_environmentreadings"/>

        <service
            android:name=".mobile.service.LogTransferService"
            android:exported="false">
        </service>
        <service
            android:name=".mobile.service.CSVExporter"
            android:exported="false">
        </service>
    </application>
</manifest>