<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.zmeggyesi.divemonitor">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.LOCATION_HARDWARE"/>
    <uses-permission android:name="android.permission.READ_DIVES"/>

    <application
        android:name=".mobile.model.GlobalContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mobile.activity.Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".mobile.activity.Monitoring"/>
        <activity android:name=".mobile.activity.PreDive"/>
        <activity android:name=".mobile.activity.DiveInProgress"/>
        <activity android:name=".mobile.activity.DatabaseManipulation"/>

        <provider
            android:name=".mobile.service.provider.DiveProvider"
            android:authorities="com.example.zmeggyesi.divemonitor.provider"
            android:exported="false"
            android:readPermission="@string/permission_read_dives"
            android:writePermission="@string/permission_write_dives"/>

        <service
            android:name=".mobile.service.LogTransferService"
            android:exported="false">
        </service>

        <activity
            android:name=".mobile.activity.DiveListActivity"
            android:label="@string/title_dive_list">
        </activity>
        <activity
            android:name=".mobile.activity.DiveDetailActivity"
            android:label="@string/title_dive_detail"
            android:parentActivityName=".mobile.activity.DiveListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zmeggyesi.divemonitor.mobile.activity.DiveListActivity"/>
        </activity>
    </application>

</manifest>